{% extends "base.html" %}
{% load static %}

{% block title %}Login{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/auth.css' %}">
{% endblock %}

{% block content %}
<div class="card-container">
    <div class="card">
        <div class="card-header">
            <h2>Login</h2>
        </div>
        <div class="card-body">
            <form action="{% url 'login' %}" method="post">
                {% csrf_token %}
                {{ login_form.non_field_errors }}
                <div class="field">
                    <label for="{{ login_form.username.id_for_label }}">Username</label>
                    {{ login_form.username }}
                    {% if login_form.username.errors %}
                        <div class="error">{{ login_form.username.errors }}</div>
                    {% endif %}
                </div>
                <div class="field">
                    <label for="{{ login_form.password.id_for_label }}">Password</label>
                    {{ login_form.password }}
                    {% if login_form.password.errors %}
                        <div class="error">{{ login_form.password.errors }}</div>
                    {% endif %}
                </div>
                <div class="field btn">
                    <input type="submit" value="Login">
                </div>
                <div class="link">
                    <a href="{% url 'register' %}">Don't have an account? Register here</a>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
